<%layout("layouts/boilerplate")%>



  <div class="form-wrapper">
    <div class="form-card">
      <h1 class="form-title">Edit Listing</h1>

      <form method="POST" class="needs-validation" novalidate action="/listings/<%= listing._id %>?_method=PATCH">
        <div class="form-group">
          <label class="form-label">Title</label>
          <input
            class="form-control"
            name="listing[title]"
            type="text"
            value="<%= listing.title %>"
            required
          />
           <div class="valid-feedback">looks good</div>
          <div class="invalid-feedback">Title is required</div>
        </div>

        <div class="form-group">
          <label class="form-label">Description</label>
          <input
            class="form-control"
            name="listing[description]"
            type="text"
            value="<%= listing.description %>"
            required
          />
           <div class="valid-feedback">looks good</div>
          <div class="invalid-feedback">Description is required</div>
        </div>

        <div class="form-group">
          <label class="form-label">Image URL</label>
          <input
            class="form-control"
            name="listing[image]"
            type="text"
            value="<%= listing.image.url %>"
            required
          />
          <div class="valid-feedback">looks good</div>
          <div class="invalid-feedback">image url is required</div>
        </div>

        <div class="form-group">
          <label class="form-label">Price (₹ / night)</label>
          <input
            class="form-control"
            name="listing[price]"
            type="number"
            value="<%= listing.price %>"
            required
          />
           <div class="valid-feedback">looks good</div>
          <div class="invalid-feedback">price is required</div>
        </div>

        <button class="submit-btn">Update Listing</button>
      </form>
    </div>
  </div>
 

